<!DOCTYPE html>
<html lang="en">
<head th:replace="fragments :: head('forgot password page','none')"></head>
<body class="bg-main " style="margin: auto">
<div class="container mt-lg-5 mt-md-5 mt-sm-3 " >
    <form th:action="@{/forgot_password}" method="post" class="form ">

        <h3 class="form-heading ">Forgot password</h3>
        <p th:if="${error!=null}" class="text-center text-danger">[[${error}]]</p>
        <p th:if="${message!=null}" class="text-center text-warning">[[${message}]]</p>
        <p class="text-center" >We will be sending a reset password link to your email</p >
        <div class="mb-3">
            <label for="email" class="form-label">Email</label>
            <input type="email" class="form-control" name="email" id="email" placeholder="Email" required autofocus>
        </div>

        <button type="submit" class="form-btn">Submit</button>

    </form>
</div>
</body>
</html>