<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Email Verification Required</title>
    <link rel="stylesheet" th:href="@{/css/main.css}">
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}">
</head>
<body class="bg-main">
<div style="display: flex; align-items: center; justify-content: center; flex-direction: column; min-height: 100vh">
    <h4 style="font-size: 50px">Email Verification Required</h4>
    <p style="text-align: center; font-size: 18px; max-width: 500px;">Congratulations! You've successfully signed up for our community of shoppers.
        To complete the verification process, please check your email and follow the instructions provided to verify your account.</p>
    <a href="/login" class="form-btn form-btn--md text-center mt-3" style="text-decoration: none">Login and Explore</a>
</div>
</body>
</html>
