<!DOCTYPE html>
<html lang="en">
<head th:replace="fragments :: head('Reset password page','none')"></head>
<body class="bg-main " style="margin: auto">
<div class="container mt-lg-5 mt-md-5 mt-sm-3 " >
    <form th:action="@{/reset_password}" method="post" class="form" onsubmit="return checkPassword()">
        <input type="hidden" th:value="${token}" name="token">
        <h3 class="form-heading ">Reset password</h3>
        <div class="mb-3">
            <label for="password" class="form-label">Password</label>
            <input type="password" class="form-control" name="password" id="password" placeholder="password" required autofocus>
        </div>
        <div class="mb-3">
            <label for="re-password" class="form-label">Confirm Password</label>
            <input type="password" class="form-control" id="re-password" name="re-password" placeholder="Confirm password..." required>
            <div id="password-error" class="text-danger" style="display:none;">Password does not match</div>
        </div>

        <button type="submit" class="form-btn">Reset</button>
    </form>
</div>

<script>
    function checkPassword() {
        var password = document.getElementById('password').value;
        var rePassword = document.getElementById('re-password').value;
        var passwordError = document.getElementById('password-error');

        if (password !== rePassword) {
            passwordError.style.display = 'block';
            return false; // Prevent form submission
        } else {
            passwordError.style.display = 'none';
            return true; // Allow form submission
        }
    }
</script>
</body>
</html>
