<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Verification Failed</title>
    <link rel="stylesheet" th:href="@{/css/main.css}">
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}">
</head>
<body class="bg-main">
<div style="display: flex; align-items: center; justify-content: center; flex-direction: column; min-height: 100vh">
    <h4 style="font-size: 50px">Verification Failed</h4>
    <p style="text-align: center; font-size: 18px; max-width: 500px;">Oops! It seems there was an issue with your verification. Either your account has already been verified, or the verification code you provided is invalid.</p>
    <a th:href="@{/login}" class="form-btn form-btn--md text-center mt-3" style="text-decoration: none">Login Again</a>
</div>
</body>
</html>
