<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head></head>
<body>

<div th:fragment="content" >

    <form th:action="@{/settings/save_mail_template}" method="post" class="form  form--xxl "
          enctype="multipart/form-data">
        <div>
            <div th:if="${message_success!=null}" class="alert alert-success text-center" role="alert">
                [[${message_success}]]
            </div>
            <div th:if="${message_error !=null}" class="alert alert-danger text-center" role="alert">
                [[${message_error}]]
            </div>
        </div>
        <div class="mb-3">
            <label for="" class="form-label">Customer verify subject: </label>
            <input type="text" class="form-control" required name="CUSTOMER_VERIFY_SUBJECT" th:value="${CUSTOMER_VERIFY_SUBJECT}">
        </div>
        <div class="mb-3">
            <label for="" class="form-label">Customer verify content: </label>
            <textarea cols="5" id="customer-verify-content" name="CUSTOMER_VERIFY_CONTENT" >[[${CUSTOMER_VERIFY_CONTENT}]]</textarea>
        </div>



        <div class="divider-btn">
            <button type="submit" class="form-btn form-btn--sm">Submit</button>

        </div>
    </form>


</div>





</body>
</html>